@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* * {
  outline: 1px solid rgb(255, 53, 53) !important;
  background: rgb(0 100 0 / 0.1);
} */

body {
  margin: 0;
  padding: 0;
}
